# Core dependencies
# python==3.10

numpy
pandas
# opencv  # Mac
trackeval
#opencv-python  # windows
scipy>=1.7.0,<1.14.0

# Tracking
filterpy>=1.4.5
motmetrics>=1.2.0

# Deep learning models
ultralytics # YOLO
torch
torchvision
open-clip-torch # CLIP

# kornia  # RAFT (FaceBook for motion detection)

# Optional (for other baselines)
transformers>=4.30.0,<5.0.0  # For CLIP, Grounding DINO
# groundingdino  # Install separately if needed
# fairseq  # For DINO features

# Utilities
tqdm
matplotlib
Pillow
pyyaml
